# KPIs PARA POKEMON

## Previo. Cargar archivo y comprobar que aparece

In [12]:
import pandas as pd #Importar pandas
import numpy as np

In [2]:
df = pd.read_csv("pogo_meta_data.csv")

In [19]:
df.sample(3) #Comprobar que se ha cargado

,Pokemon,Score,Type 1,Type 2,Attack,Defense,Stamina,Stat Product,Level,Fast Move,...,DPE_CM_1,Damage_CM_2,Energy_CM_2,DPE_CM_2,Damage_FM,Turns_FM,Energy_FM,CD_FM,DPT_FM,EPT_FM
140,Lugia,81.7,psychic,flying,102.4,163.5,129,2160651,15.0,Extrasensory,...,1.67,170,-75,2.27,8,2,10,1.5,2.67,3.33
80,Alomomola,84.7,water,none,98.5,98.5,234,2269817,25.5,Waterfall,...,1.64,130,-75,1.73,12,2,8,1.5,4.00,2.67
172,Golbat,80.0,poison,flying,119.5,115.2,136,1872017,28.0,Wing Attack,...,1.14,100,-55,1.82,5,1,7,1.0,2.50,3.50

In [22]:
df[df['Pokemon'] == 'Swampert']

,Pokemon,Score,Type 1,Type 2,Attack,Defense,Stamina,Stat Product,Level,Fast Move,...,DPE_CM_1,Damage_CM_2,Energy_CM_2,DPE_CM_2,Damage_FM,Turns_FM,Energy_FM,CD_FM,DPT_FM,EPT_FM
8,Swampert,91.8,water,ground,124.0,106.0,137,1800668,19.0,Mud Shot,...,2.0,110,-65,1.69,3,1,9,1.0,1.5,4.5

## 1. Preprocesamiento y limpieza de datos

**Pasos a hacer:**
- Convertir tablas numéricas a float/int
- Revisar nulos
- Eliminar filas duplicadas
- Normalizar nombres si es necesario

In [24]:
df.shape

(679, 24)

In [29]:
df.isnull().sum() # No hay nulos

Pokemon           0
Score             0
Type 1            0
Type 2            0
Attack            0
Defense           0
Stamina           0
Stat Product      0
Level             0
Fast Move         0
Charged Move 1    0
Charged Move 2    0
Damage_CM_1       0
Energy_CM_1       0
DPE_CM_1          0
Damage_CM_2       0
Energy_CM_2       0
DPE_CM_2          0
Damage_FM         0
Turns_FM          0
Energy_FM         0
CD_FM             0
DPT_FM            0
EPT_FM            0
dtype: int64

In [32]:
duplicados = df.duplicated().sum()
print(f"Hay {duplicados} tuplas duplicadas")

Hay 31 tuplas duplicadas

In [38]:
df = df.drop_duplicates()

In [39]:
duplicados = df.duplicated().sum() #Comprobar que se borraron
print(f"Hay {duplicados} tuplas duplicadas")

Hay 0 tuplas duplicadas

In [40]:
df.shape

(648, 24)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 648 entries, 0 to 678
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pokemon         648 non-null    object
 1   Score           648 non-null    float64
 2   Type 1          648 non-null    object
 3   Type 2          648 non-null    object
 4   Attack          648 non-null    float64
 5   Defense         648 non-null    float64
 6   Stamina         648 non-null    int64
 7   Stat Product    648 non-null    int64
 8   Level           648 non-null    float64
 9   Fast Move       648 non-null    object
 10  Charged Move 1  648 non-null    object
 11  Charged Move 2  648 non-null    object
 12  Damage_CM_1     648 non-null    int64
 13  Energy_CM_1     648 non-null    int64
 14  DPE_CM_1        648 non-null    float64
 15  Damage_CM_2     648 non-null    int64
 16  Energy_CM_2     648 non-null    int64
 17  DPE_CM_2        648 non-null    float64
 18  Damage_FM       648 non-null    int64
 19  Turns_FM        648 non-null    int64
 20  Energy_FM       648 non-null    int64
 21  CD_FM           648 non-null    float64
 22  DPT_FM          648 non-null    float64
 23  EPT_FM          648 non-null    float64
dtypes: float64(9), int64(9), object(6)
memory usage: 126.6+ KB

## 2. Análisis predictivo

### Las columnas del dataset son únicas y cada una tiene un valor: 
- **Pokemon:** Nombre del Pokemon
- **Score:** Ranking para PvP
- **Type (1 y 2):** Tipos principal y secundario
- **Attack, Defense, Stamina:** Estadísticas base
- **Stat Product:** Producto estadístico para rankings
- **Level:** Nivel del Pokemon almacenado (no al usado en RPG)
- **Fast Move:** Movimiento individual por defecto o característico
- **Charged Move 1 y 2:** Movimientos pesados, afectan otros registros
- **Columnas_CM:** Estadística afectada por Charged Move 1 o 2
- **Columnas_FM:** Igual, pero con Fast Move

In [43]:
df.describe()

,Score,Attack,Defense,Stamina,Stat Product,Level,Damage_CM_1,Energy_CM_1,DPE_CM_1,Damage_CM_2,Energy_CM_2,DPE_CM_2,Damage_FM,Turns_FM,Energy_FM,CD_FM,DPT_FM,EPT_FM
count,648.000000,648.000000,648.000000,648.000000,6.480000e+02,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000,648.000000
mean,71.149074,123.337191,113.261728,129.145062,1.736756e+06,27.769290,74.976852,-45.532407,1.630046,84.706790,-53.541667,1.554306,6.793210,1.331790,8.001543,1.165123,2.873256,3.431867
std,11.430811,16.403761,23.735508,27.861225,2.395813e+05,8.772036,23.092605,8.657248,0.317962,28.813323,11.319231,0.308752,3.841587,0.877034,3.343544,0.436602,0.972722,0.726579
min,21.800000,59.300000,63.200000,85.000000,1.251209e+06,12.000000,20.000000,-80.000000,0.400000,10.000000,-80.000000,0.140000,0.000000,0.000000,2.000000,0.500000,0.000000,2.000000
25%,64.300000,113.575000,98.000000,115.000000,1.591912e+06,20.500000,55.000000,-50.000000,1.430000,65.000000,-60.000000,1.375000,4.000000,1.000000,6.000000,1.000000,2.000000,3.000000
50%,71.550000,123.400000,110.100000,126.000000,1.724806e+06,25.500000,70.000000,-45.000000,1.640000,90.000000,-55.000000,1.640000,6.000000,1.000000,8.000000,1.000000,3.000000,3.500000
75%,80.025000,135.000000,122.925000,137.000000,1.884568e+06,37.500000,90.000000,-40.000000,1.800000,100.000000,-45.000000,1.785000,9.000000,2.000000,10.000000,1.500000,3.670000,4.000000
max,95.800000,167.900000,244.500000,396.000000,2.739618e+06,50.000000,150.000000,-35.000000,2.380000,170.000000,-35.000000,2.360000,16.000000,4.000000,20.000000,2.500000,5.330000,5.000000

## 3. Datos de valor
- Pokemon con mayor rendimiento
- Combinacion de tipos más frecuente / tipos más y menos comunes
- ¿Tienen ventaja los Pokemon Shadow o XL?

In [56]:
top_score = df.sort_values('Score', ascending = False).head(5)
top_score #Mostrar Pokemon con mejor puntuación

,Pokemon,Score,Type 1,Type 2,Attack,Defense,Stamina,Stat Product,Level,Fast Move,...,DPE_CM_1,Damage_CM_2,Energy_CM_2,DPE_CM_2,Damage_FM,Turns_FM,Energy_FM,CD_FM,DPT_FM,EPT_FM
0,Medicham (XL),95.8,fighting,psychic,107.9,137.0,141,2085050,48.0,Counter,...,1.38,90,-55,1.64,8,1,7,1.0,4.00,3.50
1,Deoxys (Defense),93.6,psychic,none,101.7,221.5,97,2184166,23.5,Counter,...,2.00,90,-55,1.64,8,1,7,1.0,4.00,3.50
2,Azumarill (XL),93.5,water,fairy,94.4,133.7,188,2372805,42.0,Bubble,...,1.64,130,-75,1.73,7,2,11,1.5,2.33,3.67
3,Stunfisk (Galarian),92.8,ground,steel,102.9,126.7,167,2176261,26.0,Mud Shot,...,1.67,120,-65,1.85,3,1,9,1.0,1.50,4.50
5,Sableye (XL),92.7,dark,ghost,121.2,124.5,122,1841934,48.0,Shadow Claw,...,1.56,130,-70,1.86,6,1,8,1.0,3.00,4.00

In [68]:
#Tipos combinados más comunes
df["Tipo combinado"] = df['Type 1'] + "-" + df['Type 2']
comb_mas_comun = df["Tipo combinado"].value_counts().head(3)
comb_mas_comun

Tipo combinado
normal-none     49
water-none      38
psychic-none    36
Name: count, dtype: int64

In [64]:
#Tipo 1 menos comunes
df["Type 1"].value_counts(ascending = True).head(3)

Type 1
flying     1
fairy      6
dragon    17
Name: count, dtype: int64

In [70]:
#Probar si los Shadow tienen ventaja
shadows = df[df['Pokemon'].str.contains("Shadow", regex = True)]
pts_shadow = shadows['Score'].mean()

no_shadow = df[~df['Pokemon'].str.contains("Shadow", regex = True)]
pts_no_shadow = no_shadow['Score'].mean()

print(f"Puntos Shadow:{pts_shadow} - Puntos normales:{pts_no_shadow}")

Puntos Shadow:71.80071942446042 - Puntos normales:70.97111984282908

## 4. Crear KPIs

### Posibles KPIs
- Media de Score
- Porcentaje de pokemon con doble tipo

In [73]:
kpi_media_score = df['Score'].mean()
print(f"Score medio: {kpi_media_score}")

kpi_dobletipo = df[df['Type 2'] != 'none'].shape[0] / df.shape[0]
print(f"Porcentaje con doble tipo: {kpi_dobletipo*100} %")

Score medio: 71.14907407407406
Porcentaje con doble tipo: 52.77777777777778 %

## 5. Feature Engineering "a priori"

- **Columnas irrelevantes:** Columnas como el nombre del Pokemon solo sirven de ID. Puede haber columnas redundantes o incluso irrelevantes
- **Criterio:** ¿Aporta variabilidad estadística o explicativa para KPIs o predicciones futuras?

## 6. Reporte en PowerBI